.experience{
    display: flex;
    flex-direction: column;
    border: 2px dotted #fff;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

.experience>p{
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
}